<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings>
		<!-- 系统错误日志路径-->
		<add key="LogPath" value="d:\TestLog" />
		<add key="DALPath" value="FW.WT.LinqToSqlServerDAL" />
		<add key="ConStr" value="server=10.5.11.8\sql2005;database=wt;user id=sa;password=95938;min pool size=4;max pool size=4;" />
    <add key="AjaxHandler_UrlPattern" value="/(\w+)/(.+).ajax" />
    <add key="AjaxHandler_ClassNameReplacement" value="FW.$1.$2, FW.$1.AdminPortal" />

    <!--防SQL注入的过滤词-->
    <add key="FilterSql" value="insert |update |drop |delete |'" />
  </appSettings>
	<connectionStrings>
		<add name="SQLProfileConnString" connectionString="server=Win-FW;database=FwWorkTools;user id=sa;password=pass@word1;min pool size=4;max pool size=4;" providerName="System.Data.SqlClient" />
		<add name="SQLMembershipConnString" connectionString="server=ESINT-LHJ\sql2005;database=MSPetShop4Services;user id=mspetshop;password=pass@word1;min pool size=4;max pool size=4;" providerName="System.Data.SqlClient" />
		<add name="SQLConnString1" connectionString="server=Win-FW;database=FwWorkTools;integrated security=SSPI;min pool size=4;max pool size=4;" providerName="System.Data.SqlClient" />
		<add name="SQLConnString2" connectionString="server=ESINT-LHJ\sql2005;database=MSPetShop4;integrated security=SSPI;max pool size=4;min pool size=4;" providerName="System.Data.SqlClient" />
		<add name="SQLConnString3" connectionString="server=ESINT-LHJ\sql2005;database=MSPetShop4Orders;user id=mspetshop;password=pass@word1;min pool size=4;max pool size=4;" providerName="System.Data.SqlClient" />
		<add name="OraProfileConnString" connectionString="" providerName="System.Data.OracleClient" />
		<add name="OraMembershipConnString" connectionString="" providerName="System.Data.OracleClient" />
		<add name="OraConnString1" connectionString="" providerName="System.Data.OracleClient" />
		<add name="OraConnString2" connectionString="" providerName="System.Data.OracleClient" />
		<add name="OraConnString3" connectionString="" providerName="System.Data.OracleClient" />
	</connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows" />
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />

    <httpHandlers>
    
      <add verb="*" path="*.ajax" type="FW.CommonFunction.AjaxHandlerFactory, FW.CommonFunction" />
    </httpHandlers>

    <httpModules>
      <add type="FW.WT.AdminPortal.Security.HttpModule,FW.WT.AdminPortal" name="HttpModule" />
    </httpModules>
  </system.web>
    <system.webServer>
        <handlers>
            <add name="AjaxHandler_4.0_64bit" path="*.ajax" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness64" />
            <add name="AjaxHandler_4.0_32bit" path="*.ajax" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
        </handlers>
    </system.webServer>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>
