<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqDataModel.Properties.Settings.FwWorkToolsConnectionString"
            connectionString="Data Source=FENGWEI;Initial Catalog=FwWorkTools;Persist Security Info=True;User ID=sa;Password=P@ssw0rd"
            providerName="System.Data.SqlClient" />
        <add name="FW.WT.LinqDataModel.Properties.Settings.FwWorkToolsConnectionString"
            connectionString="Data Source=.;Initial Catalog=FwWorkTools;Persist Security Info=True;User ID=sa;Password=pass@word1"
            providerName="System.Data.SqlClient" />
        <add name="FW.WT.LinqDataModel.Properties.Settings.FwWorkToolsConnectionString"
            connectionString="Data Source=.;Initial Catalog=FwWorkTools;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="FW.WT.LinqDataModel.Properties.Settings.FwWorkToolsConnectionString1"
            connectionString="Data Source=.;Initial Catalog=FwWorkTools;User ID=sa;Password=P@ssw0rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
